.bag {
    width: 70%;

    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;

    #briefcase {
        margin-top: -50px;
        height: 175px;
        width: 30%;
        margin-bottom: 15px;
        color: #5dca88;
    }

    h1 {
        color: #636c6c;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    p {
        color: #afb8b8;
        font-size: 16px;
        text-align: center;
    }
}

